{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<h1>Main</h1>
    {% for message in app.flashes %}
       <p id="interdiction">{{ message[0]}} <p>


    {% endfor %}
    {%for friend in app.user.receiver %}
        {# pour le moment apres on fera une requete personnalisé et srt on changera de page #}
        {% if friend.isAccepted == 0 %}
            <p>{{ friend.sender.username }}</p>
            <p>{{ friend.createdAt|date }}</p>
            <a href="{{ path("accept_friend",{token:friend.token})}}"> accepter la demande d'amis</a>
        {% endif %}
    {% endfor %}


    {% block javascripts %}

    {% endblock %}
{% endblock %}



