{% extends 'base.html.twig' %}

{% block title %}Hello MessagePrivateController!{% endblock %}

{% block body %}

<div id="tes"></div>
    <div class="form-group">
        <label for="text">Votre message</label>
        <input type="text" class="form-control" id="text"  placeholder="Enter a message">
    </div>



    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

{% block javascript %}
    <script>
        window.onload = () => {
            chargeMessage()
            let texte = document.querySelector("#text")
            texte.addEventListener("keyup",verifieEnter)
            setInterval(chargeMessage,1000)




        }


        function verifieEnter(e){

            if (e.key === "Enter"){

                ajoutMessage()

            }
        }
        function chargeMessage()
        {



            axios.post('{{ path('get_direct_private',{token: '47f6edd3-438f-416d-a4f7-99d76c21c181'}) }}')

                .then(function (response) {
                    //console.table(response.data)
                        let discusion  = document.getElementById('tes')

                        let messages = response.data
                        const  html = messages.map(function (message){
                            return `<div><p>${message.message}</p></div>`
                        }).join('');
                        discusion.innerHTML = html;


                }
                )
                .catch(function (error) {
                    console.log(error.response.data);
                });



        }

        function ajoutMessage(){

            let message = document.querySelector("#text").value
            console.log(message)
            if (message !== ""){
                let json = {

                };
                json['message'] =  message




                //creer un json a partir d'un tableau

                let resultJson =  JSON.stringify(json)


                console.log(resultJson)
                axios.post("{{ path('add_direct_private',{token: '47f6edd3-438f-416d-a4f7-99d76c21c181'}) }}",resultJson)
                .then(function (response) {
                        document.querySelector("#text").value=""
                        console.log(response.data);


                    })
                    .catch(function (error) {
                        console.log(error.request);
                    });

            }
        }
    </script>
    {% endblock %}
{% endblock %}
